PORT=5001
MONGO_URI=mongodb://atlas-sql-6a21012fce09e4f02d2fdafd-i2dip7.a.query.mongodb.net/sample_mflix?ssl=true&authSource=admin
JWT_SECRET=a-string-secret-at-least-256-bits-long
CLIENT_URL=http://localhost:5173,https://stpi-network-managemant-system.vercel.app
NODE_ENV=development
WIFI_VAULT_KEY=change-this-to-a-long-random-string-in-production
